<section class="cta p-12">
    <div class="mx-auto w-60">
        <h2>Book me for an influencer gig</h2>
        <p>Please send gig information, schedule, and offer via email. Note: While I will consider some barters, I do not do unpaid or commission-based influencer work. I only work with brands I am willing to put my reputation behind. Thank you.</p>
        <a href="mailto:intentiondesign@gmail.com" class="button large next">Send Me an Email</a>
    </div>
</section>
