<section class="cta p-12">
    <div class="mx-auto w-60">
        <h2>Can I help you with a project?</h2>
        <p>Send me some information, and if I can help, we’ll get you an appointment booked. Please note… I am working throughout the state in 2021, and will only be in Santa Fe for a few weeks between July and Christmas. My ability to take on projects depends greatly on your ability to give me time. Please send the project name, address, what needs doing, your budget (if known), and your timeline. Thank you.</p>
        <a href="mailto:intentiondesign@gmail.com?subject=Website%20request%20for%20services" target="_blank" class="button large next">Send Me an Email</a>
    </div>
</section>
