<section class="cta-earthship p-12">
  <div class="columns mx-auto w-60 mobile-reverse">
    <div class="column w-45 flex-center">
      <span class="image fit"><img src="/images/earthships/hacking-the-earthship.png" alt="Hacking the Earthship book formats: print, ebook" /></span>
    </div>
    <div class="column w-55">
      <h2>Buy the book</h2>
      <p>Get it in Print or E-book at <a href="https://amzn.to/2Q6XOaC" target="_blank">Amazon!*</a></p>
      <p>Get the E-book! Available from <a href="https://www.smashwords.com/books/view/524721" target="_blank">Smashwords</a>, <a href="https://gum.co/HackingTheEarthship" target="_blank">Gumroad</a>, and <a href="https://itunes.apple.com/us/book/hacking-earthship-in-search/id976349978" target="_blank">iTunes</a></p>
      <p class="font-small">*As an Amazon Associate we earn from qualifying purchases, which allows us to make a little extra money on the sales of the book, as well as all the products we recommend here.</p>
    </div>
  </div>
</section>
