<div class="full-bleed" style="height: 200px; overflow: hidden; background-image: url('/images/acoma/activity.png'); background-repeat: no-repeat; background-position: center center; background-size: cover; border-top: 8px solid var(--border-footer);">
  <div class="flex-center w-80 mx-auto" style="flex-direction: column; padding: 1.5rem 1rem;">
    <p><strong>This is project funded by:</strong></p>
    <div class="flex-center">
      <img src="/images/acoma/funder-archinia.png" alt="Archinia" />
      <a href="https://nmresiliencyalliance.org/" target="_blank"><img src="/images/acoma/funder-nm-resiliency-alliance.png" alt="New Mexico Resiliency Alliance" /></a>
    </div>
    </div>
  </div>
</div>
