<footer>

  <div class="copyright">
    <p>Santa Fe, NM</p>
    <p>© 2020 Archinia. All rights reserved.</p>
    <p><a href="https://archinia.com/privacy-policy.html" target="_blank">Privacy</a></p>
    <p><a href="https://archinia.com/disclaimer.html" target="_blank">Terms</a></p>
    <p><a href="https://archinia.com/sitemap.html" target="_blank">Sitemap</a></p>
  </div>

</footer>
