<footer id="footer" style="flex-grow: 0; flex-shrink: 0;">

  <div class="copyright">
    <div class="copyright-row">
      <p>Santa Fe, NM</p>
      <p>© 2021 Archinia.</p>
      <p>All rights reserved.</p>
    </div>
    <div class="copyright-row">
      <p><a href="/privacy-policy" target="_blank">Privacy</a></p>
      <p><a href="/disclaimer" target="_blank">Terms</a></p>
      <p><a href="/sitemap.xml" target="_blank">Sitemap</a></p>
    </div>
  </div>

</footer>
