<footer id="footer">

  <div class="copyright">
    <div class="copyright-row">
      <p>Santa Fe, NM</p>
      <p>© 2020 Archinia.</p>
      <p>All rights reserved.</p>
    </div>
    <div class="copyright-row">
      <p><a href="https://archinia.com/privacy-policy.html" target="_blank">Privacy</a></p>
      <p><a href="https://archinia.com/disclaimer.html" target="_blank">Terms</a></p>
      <p><a href="https://archinia.com/sitemap.html" target="_blank">Sitemap</a></p>
    </div>
  </div>

</footer>
