<nav id="navAcoma" class="full-bleed">
  <p class="h4" style="color: var(--old-lace); text-align: center; margin-bottom: 0.5rem;">Acoma Architecture Education Portal</p>
  <ul>
    <li {{ 'class=current' if '/acoma/' === page.url }}>
      <a href="/acoma/" title="Lesson 1">Sky City Cultural Center</a>
    </li>
    <li {{ 'class=current' if '/acoma/acomas-cultural-landscape' in page.url }}>
      <a href="/acoma/acomas-cultural-landscape/" title="Lesson 2">Acoma’s Cultural Landscape</a>
    </li>
    <li {{ 'class=current' if '/acoma/village-evolution' in page.url }}>
      <a href="/acoma/village-evolution/" title="Lesson 3">Village Evolution</a>
    </li>
    <li {{ 'class=current' if '/acoma/traditions-of-design-construction' in page.url }}>
      <a href="/acoma/traditions-of-design-construction/" title="Lesson 4">Traditions of Design + Construction</a>
    </li>
    <li {{ 'class=current' if '/acoma/six-essential-building-materials' in page.url }}>
      <a href="/acoma/six-essential-building-materials/" title="Lesson 5">Six Essential Building Materials</a>
    </li>
    <li {{ 'class=current' if '/acoma/essential-building-forms' in page.url }}>
      <a href="/acoma/essential-building-forms/" title="Lesson 6">Essential Building Forms</a>
    </li>
    <li {{ 'class=current' if '/acoma/a-holistic-approach-to-sustainability' in page.url }}>
      <a href="/acoma/a-holistic-approach-to-sustainability/" title="Lesson 7">A Holistic Approach to Sustainability</a>
    </li>
    <li {{ 'class=current' if '/acoma/haakus-sustainable-roots-in-chaco-canyon' in page.url }}>
      <a href="/acoma/haakus-sustainable-roots-in-chaco-canyon/" title="Lesson 8">Haaku’s Sustainable Roots in Chaco Canyon</a>
    </li>
    <li {{ 'class=current' if '/acoma/videos' in page.url }}>
      <a href="/acoma/videos/">Videos</a>
    </li>
    <li {{ 'class=current' if '/acoma/teachers-guide' in page.url }}>
      <a href="/acoma/teachers-guide/">Teacher’s Guide</a>
    </li>
  </ul>
</nav>
