<nav id="navRPP">
  <ul>
    <li class="subnav-item {{ 'current' if '/about/rachel-preston' in page.url }}">
      <a href="/about/rachel-preston/">About</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/art-photography' in page.url }}">
      <a href="/about/art-photography/">Artist</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/film' in page.url }}">
      <a href="/about/film/">Filmmaker</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/publications' in page.url }}">
      <a href="/about/publications/">Writer</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/talks' in page.url }}">
      <a href="/about/talks/">Speaker</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/influencer' in page.url }}">
      <a href="/about/influencer/">Influencer</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/ministry' in page.url }}">
      <a href="/about/ministry/">Ministry</a>
    </li>
    <li class="subnav-item {{ 'current' if '/about/architecture-labyrinths' in page.url }}">
      <a href="/about/architecture-labyrinths/">Architecture + Labyrinths</a>
    </li>
  </ul>
</nav>
