<nav id="acoma-nav" class="full-bleed">
  <ul>
    <li class="{{ 'current' if '/acoma/' in page.url }}">
      <a href="/acoma/">Sky City Cultural Center</a>
    </li>
    <li class="{{ 'current' if '/acoma/acomas-cultural-landscape/' in page.url }}">
      <a href="/acoma/acomas-cultural-landscape/">Acoma’s Cultural Landscape</a>
    </li>
    <li class="{{ 'current' if '/acoma/village-evolution/' in page.url }}">
      <a href="/acoma/village-evolution/">Village Evolution</a>
    </li>
    <li class="{{ 'current' if '/acoma/traditions-of-design-construction/' in page.url }}">
      <a href="/acoma/traditions-of-design-construction/">Traditions of Design + Construction</a>
    </li>
    <li class="{{ 'current' if '/acoma/six-essential-building-materials/' in page.url }}">
      <a href="/acoma/six-essential-building-materials/">Six Essential Building Materials</a>
    </li>
    <li class="{{ 'current' if '/acoma/essential-building-forms/' in page.url }}">
      <a href="/acoma/essential-building-forms/">Essential Building Forms</a>
    </li>
    <li class="{{ 'current' if '/acoma/a-holistic-approach-to-sustainability/' in page.url }}">
      <a href="/acoma/a-holistic-approach-to-sustainability/">A Holistic Approach to Sustainability</a>
    </li>
    <li class="{{ 'current' if '/acoma/haakus-sustainable-roots-in-chaco-canyon/' in page.url }}">
      <a href="/acoma/haakus-sustainable-roots-in-chaco-canyon/">Haaku’s Sustainable Roots in Chaco Canyon</a>
    </li>
    <li class="{{ 'current' if '/acoma/videos/' in page.url }}">
      <a href="/acoma/videos/">Videos</a>
    </li>
    <li class="{{ 'current' if '/acoma/teachers/guide/' in page.url }}">
      <a href="/acoma/teachers-guide/">Teacher’s Guide</a>
    </li>
  </ul>
</nav>
