<nav id="nav" style="display: none;">
  <ul style="display: flex;">
    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
      <a href="#" class="icon fa-angle-down">Services</a>
      <ul class="" style="user-select: none; display: none; position: absolute;">
        <li style="white-space: nowrap;">
          <a href="/our-work/historic-preservation/" style="display: block;">Historic Preservation</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/our-work/architectural-research/" style="display: block;">Architectural Research</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/our-work/tours/" style="display: block;">Tours</a>
        </li>
      </ul>
    </li>
    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
      <a href="#" class="icon fa-angle-down">Our Work</a>
      <ul class="" style="user-select: none; display: none; position: absolute;">
        <li style="white-space: nowrap;">
          <a href="/projects/alexander-girard-in-new-mexico/">Alexander Girard</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/projects/emergence-sky-city-cultural-center/">Emergence: Sky City Cultural Center</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/projects/bandelier-reclaiming-home/">(Coming Soon) Bandelier: Reclaiming Home</a>
        </li>
      </ul>
    </li>
    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
      <a href="#" class="icon fa-angle-down">Learn</a>
      <ul class="" style="user-select: none; display: none; position: absolute;">
        <li style="white-space: nowrap;">
          <a href="/blog/">Blog</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/acoma/">Acoma Architecture Curriculum</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/earthships/earthship-pros-cons/">Earthships</a>
        </li>
      </ul>
    </li>
    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
      <a href="#" class="icon fa-angle-down">About</a>
      <ul class="" style="user-select: none; display: none; position: absolute;">
        <li style="white-space: nowrap;">
          <a href="/about/rachel-preston/">Founder Rachel Preston</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/publications/">Writer</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/art-photography/">Artist</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/film/">Filmmaker</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/talks/">Speaker</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/influencer/">Influencer</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/ministry/">Ministry</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/architecture-labyrinths/">Architecture + Labyrinths</a>
        </li>
        <li style="white-space: nowrap;">
          <a href="/about/press/">Press</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div id="navBlock" style="display: flex;">
  <div style="display: flex; flex-direction: row;">
    <a href="https://www.pinterest.com/archiministry/" target="_blank" class="icon alt fa-pinterest" style="margin: 0 0.5rem;" title="Pinterest"><span class="label">Pinterest</span></a>
    <a href="https://www.facebook.com/ArchiniaDesign/" target="_blank" class="icon alt fa-facebook" style="margin: 0 0.5rem;" title="Facebook"><span class="label">Facebook</span></a>
    <a href="https://www.instagram.com/archiministry/" target="_blank" class="icon alt fa-instagram" style="margin: 0 0.5rem;" title="Instagram"><span class="label">Instagram</span></a>
    <a href="mailto:intentiondesign@gmail.com" target="_blank" class="icon alt fa-envelope" style="margin: 0 0.5rem;" title="Contact"><span class="label">Contact</span></a>
  </div>
</div>
