<div id="testimonials" class="owl-carousel">

  {% for item in testimonials.testimonials %}
  <div class="item">
    <div class="shadow-effect">
      <h4>{{ item.credit_org }}</h4>
      <p><em>“{{ item.quote }}”</em></p>
    </div>
    <div class="testimonial-name">{{ item.credit_person }}</div>
  </div>
  {% endfor %}

</div>

{% block head %}
<!-- Owl -->
<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
{% endblock %}

{% block scripts %}
<!-- Carousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script>
  $(window).on( "load", function() {
    "use strict";
    //  TESTIMONIALS CAROUSEL HOOK
    $('#testimonials').owlCarousel({
        loop: true,
        center: true,
        items: 3,
        margin: 0,
        autoplay: true,
        dots: true,
        autoplayTimeout: 8500,
        smartSpeed: 450,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 2
          }
        }
    });
  });
</script>
<!-- /end Carousel -->
{% endblock %}
