///
/// Vortex by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Posts */

	.posts {
		width: 100%;
		margin: 0 0 _size(element-margin) 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		article {
			text-align: center;
			padding: 0 1rem;
			width: 33.33%;

			.image {
				display: block;
				width: 100%;
				margin: 0 0 _size(element-margin) 0;

				img {
					width: 100%;
				}
			}

			> :last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint(small) {
			display: flex;
			flex-direction: column;

			article {
				width: 100%;
				margin-bottom: 2rem;

				.image {
					max-width: 100%;
				}
			}
		}
	}

	@mixin color-post($p: null) {
		$highlight: _palette($p, highlight);

 		.post {
			> .content {
				header {
					.category {
						color: _palette($highlight, bg);
					}
				}
			}

			&.style2 {
				background-color: _palette($p, bg);
			}

			@include breakpoint(xsmall) {
				border-top-color: _palette($p, border);
			}
 		}
	}

	@include color-post;
