///
/// Vortex by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Posts */

	.posts {
		width: 100%;
		margin: 0 0 _size(element-margin) 0;

		article {
			.image {
				display: block;
				width: 100%;
				margin: 0 0 _size(element-margin) 0;

				img {
					width: 100%;
				}
			}

			> :last-child {
				margin-bottom: 0;
			}
		}

		@include flexgrid((
			columns:			3,
			gutters:			3rem,
			horizontal-align:	center,
			flush:				true
		));

		@include breakpoint(medium) {
			@include flexgrid((
				columns:			2,
				gutters:			2rem,
			));
		}

		@include breakpoint(small) {

			@include flexgrid((
				columns:			1,
				gutters:			2rem,
			));

			article {
				margin-bottom: 2rem;

				.image {
					max-width: 100%;
				}
			}
		}
	}

	@mixin color-post($p: null) {
		$highlight: _palette($p, highlight);

 		.post {
			> .content {
				header {
					.category {
						color: _palette($highlight, bg);
					}
				}
			}

			&.style2 {
				background-color: _palette($p, bg);
			}

			@include breakpoint(xsmall) {
				border-top-color: _palette($p, border);
			}
 		}
	}

	@include color-post;
