///
/// Telemetry by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Quotes */

	.quotes {
		@include color-typography(accent1);
		text-align: center;

		> article {
			padding: 8rem 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			width: 50%;

			display: flex;
	    flex-direction: column;
	    justify-content: center;

			.square {
				width: 50%;
				position: relative;
			}

			&.square {
				background-position: center center;
		    background-blend-mode: multiply;
		    background-color: rgba(0,0,0,0.3);
			}

			.square:after {
			  content: "";
			  display: block;
			  padding-bottom: 100%;
			}

			.author {
				margin: 0 0 _size(element-margin) 0;

				.name {
					color: _palette(accent1, bg);
					display: block;
					font-size: 1.2rem;
					font-weight: _font(weight-bold);
					margin: 0 0 (_size(element-margin) * 0.25) 0;
				}

				.title {
					display: block;
				}
			}

			&:before {
				background-color: _palette(accent1, bg);
				border-radius: 100%;
				display: inline-block;
				font-size: 2rem;
				height: 2.4rem;
				line-height: 2.4rem;
				margin-bottom: 0.7rem;
				position: relative;
				text-align: center;
				width: 2.4rem;
				z-index: 1;
			}

			&:after {
				@include vendor('transition', 'opacity 1s ease-in-out');
				@include vendor('transition-delay', '0.75s');
				background-color: rgba(32,32,32,1);
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			> div {
				padding: 0 2rem;
				/*z-index: 100;*/
			}

		}

		@include breakpoint(large) {
			> article {
				&:nth-child(odd) {
					padding-left: _size(gutter);
					padding-right: _size(gutter);
				}

				&:nth-child(even) {
					padding-left: _size(gutter);
					padding-right: _size(gutter);
				}
			}
		}

		@include breakpoint(small) {
			> article {
				width: 100%;
				min-height: 400px;

				div {
					top: 0;
					width: 80%;
					margin: auto;
				}
			}
		}

	}

	.quotes.alt {
		> article {
			width: 33.3%;
			padding: 4rem 0;

			.square {
				width: 50%;
				position: relative;
			}

			.square:after {
			  content: "";
			  display: block;
			  padding-bottom: 100%;
			}

		}

		@include breakpoint(small) {
			> article {
				width: 100%;
				min-height: 400px;
			}
		}
	}
