@media (min-width:640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1536px
  }
}

.flex {
  display: flex
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-grow {
  flex-grow: 1;
}

.items-end {
  align-items: end;
}

.font-medium {
  font-weight: 500
}

.h-64 {
  height: 16rem
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-1 {
  margin-bottom: .25rem
}

.mt-6 {
  margin-top: 1.5rem
}

.ml-auto {
  margin-left: auto
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-center {
  -o-object-position: center;
  object-position: center
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.overflow-hidden {
  overflow: hidden
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem
}

.border-none {
  border-style: none;
}

.tracking-widest {
  letter-spacing: .1em
}

.w-full {
  width: 100%
}

@media (min-width:1024px) {
  .lg\:h-auto {
    height: auto
  }

  .lg\:mt-0 {
    margin-top: 0
  }

  .lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .lg\:pl-10 {
    padding-left: 2.5rem
  }

  .lg\:w-1\/2 {
    width: 50%
  }

  .lg\:w-4\/5 {
    width: 80%
  }
}
