///
/// Altitude + Relativity mashup by Melanie E Magdalena
/// Templates by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		background-color: #000;
		text-align: center;
		padding: 10px;

		ul {
			&.icons {
				margin-bottom: (_size(element-margin) * 0.1);
				margin-top: (_size(element-margin) * 0.1);
			}
		}

		a {
			border-bottom-color: transparent;
			color: #fff;

			&:hover {
				border-bottom-color: inherit;
			}
		}

		> :last-child {
			margin-bottom: 0;
		}

		.links {
			margin: 0 0 4rem;

			> div {
				@include padding(2rem, 0);
				border-left: solid 1px _palette(accent1, border);
				border-top: solid 1px _palette(accent1, border);
				width: 25%;

				ul {
					list-style: none;
					margin-top: _size(element-margin);
					padding: 0 2rem;

					li {
						margin: 0.75rem 0;
						padding-left: 0;
					}
				}

				&:nth-child(4n - 3) {
					border-left-width: 0;
				}

				&:nth-child(-n + 4) {
					border-top-width: 0;
				}
			}
		}

		.contact-icons {
			display: inline-block;

			li {
				display: inline-block;
				margin-left: 2rem;

				&:before {
					color: _palette(accent1, fg-bold);
				}

				&:first-child {
					margin-left: 0;
				}
			}
		}

		.copyright {
			color: _palette(accent1, fg-light);
			display: flex;
			flex-direction: row;
			justify-content: center;
			p {
				padding: 0 10px;
				margin: 0;
			}
		}

		@include breakpoint(medium) {
			.links {
				> div {
					width: 50%;

					&:nth-child(4n - 3) {
						border-left-width: 1px;
					}

					&:nth-child(-n + 4) {
						border-top-width: 1px;
					}

					&:nth-child(2n - 1) {
						border-left-width: 0;
					}

					&:nth-child(-n + 2) {
						border-top-width: 0;
					}
				}
			}

			.contact-icons {
				display: block;

				li {
					display: block;
					margin: 1rem 0 0;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		@include breakpoint(small) {
			padding: 1.5rem;

			.copyright {
				flex-direction: column;
			}

			.links {
				margin: 0 0 _size(element-margin) 0;

				> div {
					border-left: 0;
					width: 100%;

					&:nth-child(2n - 1) {
						border-left-width: 1px;
					}

					&:nth-child(-n + 2) {
						border-top-width: 1px;
					}

					&:first-child {
						border-top-width: 0;
						padding-top: 0;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}
