---
eleventyComputed:
  title: >-
    {{ tag | title }}
  description: >-
    All posts tagged {{ tag | title }}
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - category
  - catList
  - blog
  - page
  - post
  - posts
  - product
  - products
  - searchable
  - tagList
  addAllPagesToCollections: true
permalink: /category/{{ tag | slug }}/
---

{% set postlist = collections[ tag ] | reverse %}
{% include "postlist.njk" %}

<hr class="major" />
<h2 class="text-center">Explore other blogs by subject</h2>
<ul class="tag-list">
{% for tag in collections.tagList %}
{% set tagUrl %}/category/{{ tag | slug }}/{% endset %}
<li><a href="{{ tagUrl }}" class="tag">{{ tag | title }} ({{ collections[tag].length }})</a></li>
{% endfor %}
</ul>
