<!DOCTYPE HTML>
<!--
	Relativity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

<html lang="en">

<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Generate Metatags from Content -->
	{% include "meta.njk" %}

	<!-- Styles -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro:300,300i,600,600i" />
	<link rel="stylesheet" href="/assets/css/main.css" />

	<!-- Insert Favicons -->
	{% include "favicons.njk" %}

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">

			<!-- Logo -->
			<a class="logo" href="../"><img src="/images/archinia-black.png" alt="Archinia"></a>

			<!-- Nav -->
			{% include "navigation.njk" %}
		</header>

		<!-- Hero Section -->
		<section class="main alt">
			<header>
				{% if rpp_menu === false %}
				<h1>{{ title }}</h1>
				{% else %}
				<h1>Rachel Preston Prinz</h1>
				{% endif %}
				{% if subtitle %}
					<h2>{{ subtitle }}</h2>
				{% endif %}
				{% if rpp_menu %}
					{% include "navigation-rpp.njk" %}
				{% endif %}
			</header>

			{% if featured_image %}
			<div>
				<span class="image fit" style="max-height: 400px; height: auto; min-height: 350px; background-size: cover; background-position: center center; background-repeat: no-repeat; background-image: url('/images/{{ featured_image }}');"></span>
			</div>
			{% endif %}

		</section>

		<!-- Content Section -->
		<section class="main">
			<div class="inner style1">
				{{ content | safe }}
			</div>
		</section>

		{% if footer_image %}
		<div>
			<span class="image fit" style="max-height: 500px; height: auto; min-height: 350px; background-size: cover; background-position: center 30%; background-repeat: no-repeat; background-image: url('/images/{{ footer_image }}');"></span>
		</div>
		{% endif %}

		{% include "footer.njk" %}

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/jquery.selectorr.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>
