<!DOCTYPE HTML>
<!--
  Crafted by: Melanie E Magdalena | @m2creates
  Built with Pixelarity: Relativity, Altitude, Vortex & Cascade
	License: pixelarity.com/license
  Notes: Stay awesome AJ!
-->
<html lang="en">

	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Generate Metatags from Content -->
		{% include "meta.njk" %}

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro:300,300i,600,600i" />
		<link rel="stylesheet" href="/assets/css/main.css" />

		<!-- Owl -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />

		<!-- Insert Favicons -->
		{% include "favicons.njk" %}

		<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cac2b58a6aa8f0a66e10baffd/f05ff8e1c519dd483eba905d8.js");</script>

		<!-- Inline Quick Fix Styling -->
		<style>
		@media only screen and (max-width: 768px) {
			#spotlight,
			#spotlight > #one > div.inner > div.content {
				background-color: #e3e3e3;
				padding-bottom: 1rem;
			}
		}
		</style>
	</head>

	<body>

		<!-- Wrapper -->
		<div id="wrapper">

      <!-- Relativity Header -->
      <header id="header" class="reveal alt" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">

      	<!-- Logo -->
      	<a class="logo" href="/"><img src="images/_branding/moa-logo-white.png" alt="Archinia"></a>

				<!-- Nav -->
				{% include "navigation.njk" %}

      </header>
      <!-- //end Relativity Header -->

			<!-- Telemetry Quote Grid -->
			<section class="quotes">
				<article class="evolutionHero" style="background-image: url('images/_branding/ministry-banner.jpg'); background-position: center center; width: 100%; height: 60vh;">
					<h1 style="display: none;">The Ministry of Architecture</h1>
				</article>
			</section>
			<section class="quotes">
				<article class="square" style="background-image: url('images/misc/zimmerman.jpg');">
					<div>
						<h2>We Celebrate Great Design</h2>
					</div>
				</article>
				<article class="square" style="background-image: url('images/misc/patio.jpg');">
					<div>
						<h2>Press</h2>
						<ul class="actions">
							<li><a href="about/press" class="button small next">Learn More</a></li>
						</ul>
					</div>
				</article>
			</section>
			<section class="quotes alt">
				<article class="square" style="background-image: url('images/historic-preservation/preservation.jpg');">
					<div>
						<h2>Historic Preservation</h2>
						<ul class="actions">
							<li><a href="our-work/historic-preservation" class="button small next">Learn More</a></li>
						</ul>
					</div>
				</article>
				<article class="square" style="background-image: url('images/misc/design_rd.jpg');">
					<div>
						<h2>Content Creation</h2>
						<ul class="actions">
							<li><a href="about/influencer" class="button small next">Learn More</a></li>
						</ul>
					</div>
				</article>
				<article class="square" style="background-image: url('images/earthships/earthships-block.jpg');">
					<div>
						<h2>Research</h2>
						<ul class="actions">
							<li><a href="our-work/architectural-research" class="button small next">Learn More</a></li>
						</ul>
					</div>
				</article>
			</section>

      <!-- Cascade Spotlights -->
      <section id="spotlight">
        <article id="one" class="spotlight even">
        	<div class="inner">
        		<div class="image" data-position="bottom left">
        			<img src="images/rpp/MD.jpg" alt="Rachel speaking">
        		</div>
        		<div class="content">
        			<h2>Rachel Preston Prinz</h2>
        			<p> An architecturally-trained designer in Santa Fe, New Mexico, Rachel is an authority <a href="about/influencer">influencer</a> known for her award-winning storytelling collaborations in architecture, design, placemaking, historic preservation, and sustainability.</p>
        			<ul class="actions">
        				<li><a href="about/rachel-preston-prinz" class="button special accent2">Learn more</a></li>
        			</ul>
        		</div>
        	</div>
        </article>
				<article id="two" class="spotlight odd">
        	<div class="inner">
        		<div class="image" data-position="bottom left">
        			<img src="images/girard/mchenryUUmural.jpg" alt="Mural">
        		</div>
        		<div class="content">
        			<h2>Alexander Girard in New Mexico</h2>
							<p>Learn about our work documenting Alexander Girard's work here, including preserving the murals at St. Johns College and the Unitarian Church in Albuquerque.</p>
        			<ul class="actions">
        				<li><a href="projects/alexander-girard-in-new-mexico" class="button special accent2">Learn more</a></li>
        			</ul>
        		</div>
        	</div>
        </article>
      </section>
      <!-- // end Cascade Spotlights -->

			<!-- Vortex Blog Grid -->
			<section id="blogGrid" class="main style1">
				<header class="small">
					<h2>Blog</h2>
				</header>
				<div class="inner">
					<div class="posts">
						<article>
							<a href="https://medium.com/archinia/better-than-green-design-6e04a30d3ade" class="image filtered"><img src="https://cdn-images-1.medium.com/max/1600/1*bwtwhLHMbel02aRw4UuKaA.jpeg" alt="earthen house"></a>
							<p><strong>Better than Green Design</strong>
								<br>Bringing Sustainability Home</p>
							<ul class="actions">
								<li><a href="https://medium.com/archinia/better-than-green-design-6e04a30d3ade" class="button small next" alt="link to blog post">Read More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://medium.com/archinia/naturally-climatizing-your-home-33850d1135b7" class="image filtered"><img src="https://cdn-images-1.medium.com/max/1600/1*W8RlvO4MRPzzuYLL77MqJQ.jpeg" alt="house with snow"></a>
							<p><strong>Naturally Climatizing Your Home</strong>
								<br>Harnessing Nature in Heating and Cooling.</p>
							<ul class="actions">
								<li><a href="https://medium.com/archinia/naturally-climatizing-your-home-33850d1135b7" class="button small next" alt="link to blog post">Read More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://medium.com/archinia/living-smart-75804f7931a4" class="image filtered"><img src="https://cdn-images-1.medium.com/max/1600/1*cAZ2IflLGEs3OlFR_S185g.jpeg" alt="yellow building"></a>
							<p><strong>Living Smart</strong>
								<br>Affordable Green Home Projects</p>
							<ul class="actions">
								<li><a href="https://medium.com/archinia/living-smart-75804f7931a4" class="button small next" alt="link to blog post">Read More</a></li>
							</ul>
						</article>
					</div>
					<p style="text-align: center;"><a href="https://medium.com/archinia/" target="_blank" class="button large" style="background-color: #000;">New blog coming Summer 2020!</a>
				</div>
			</section>
			<!-- // end Vortex Blog Grid -->
			<!-- Kudos -->
			<section class="testimonials main style1" style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
				<header class="small">
					<h2>Testimonials</h2>
				</header>
	      <div id="customers-testimonials" class="owl-carousel">
	        <div class="item">
	          <div class="shadow-effect">
							<h4>New Mexico Historic Preservation Division</h4>
	            <p><em>“The consultant for this project provided the final Report as well as a set of drawings and specs, neatly bound in a second document to accompany the Report.  Both documents are exceptional in depth and quality and fully recorded the work completed as part of this grant… as well as the documentation done… to guide future projects and long term maintenance on all these units.”</em></p>
	          </div>
	          <div class="testimonial-name">Pilar Cannizzarro</div>
	        </div>
	        <div class="item">
	          <div class="shadow-effect">
							<h4>Pueblo of Acoma Tribal Historic Preservation Office</h4>
	            <p><em>“We have reviewed the report and I’d like to congratulate you and your staff for compiling a very nice and thorough report.  Very well put together! Thank you so much for your help on this project.  I’m very pleased with the report and the end product and community members have not stopped commenting on how nice the houses look so congratulations on a job very well done!!!”</em></p>
	          </div>
	          <div class="testimonial-name">Damian Garcia</div>
	        </div>
	        <div class="item">
	          <div class="shadow-effect">
							<h4>TEDxABQWomen Curator</h4>
	            <p><em>“When I listen to Rachel speak, the history of our region comes to life in a way I've never experienced. More than once, I've been left with chills at the way she layers big-picture issues with her common-sense approach to design. To know Rachel means you will never see design (or even life, for that matter) the same way again.”</em></p>
	          </div>
	          <div class="testimonial-name">Carrie Williar Lin</div>
	        </div>
	        <div class="item">
	          <div class="shadow-effect">
							<h4>Chupadero Archeological Resources</h4>
	            <p><em>“Rachel Preston Prinz is a forthright, honest, hardworking and insightful team member. Rachel is miraculously effective in putting together teams as well as project management for her specialty in preservation architecture. Rachel has built ownership in the project goals with all team members, and because of her proficiency in the cyber world is able to keep open lines of communication and sharing results. If you like working with somebody honestly upbeat and forward working you will be lucky to get Rachel to work on your project.”</em></p>
	          </div>
	          <div class="testimonial-name">Mark Henderson</div>
	        </div>
	        <div class="item">
	          <div class="shadow-effect">
							<h4>Former Professor of Architectural History, Texas A&M</h4>
	            <p><em>“Rachel has… a strong motivation for scholarship and research. (She) has, by all standards, a thorough architectural education, a two semester study in Italy and a summer working as an assistant in France with one of the leading Medievalists in the profession. Her personality reflects… intellectual growth and a synthesis of ideas. She also has an innate ability to understand architecture as design and as theory. I feel strongly about (her) potential as a scholar, designer and as a future university instructor.”</em></p>
	          </div>
	          <div class="testimonial-name">Joseph M. Hutchinson</div>
	        </div>
	      </div>
	    </section>
	    <!-- /end Kudos -->

      {% include "footer.njk" %}

    </div>

    <!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>

		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>

		<!-- Load Carousel -->
		<script>
			$(window).on( "load", function() {
    		"use strict";
    		//  TESTIMONIALS CAROUSEL HOOK
        $('#customers-testimonials').owlCarousel({
            loop: true,
            center: true,
            items: 3,
            margin: 0,
            autoplay: true,
            dots: true,
            autoplayTimeout: 8500,
            smartSpeed: 450,
            responsive: {
              0: {
                items: 1
              },
              768: {
                items: 2
              }
            }
        });
    	});
		</script>

		<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"cac2b58a6aa8f0a66e10baffd","lid":"7c61b2b0b1"}) })</script>

  </body>
</html>
